<ion-header>
  <uni-chat-header title="{{'auth.title.login' | translate}}">
  </uni-chat-header>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>{{'auth.email' | translate}}</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="{{'auth.emailPlaceholder' | translate}}"
                 [class.invalid]="!loginForm.controls.email.valid &&
          (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (emailChanged || submitAttempt)">
      <p>{{'auth.error.invalidEmail' | translate}}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'auth.password' | translate}}</ion-label>
      <ion-input #password formControlName="password" type="password"
                 (change)="elementChanged(password)"
                 placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid &&
          (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (passwordChanged || submitAttempt)">
      <p>{{'auth.error.invalidPassword' | translate}}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{'auth.action.login' | translate}}
    </button>

  </form>

  <button ion-button block clear (click)="goToResetPassword()">
    {{'auth.action.resetPasswordLink' | translate}}
  </button>

  <button ion-button block clear (click)="createAccount()">
    {{'auth.action.createAccount' | translate}}
  </button>

</ion-content>
