<ion-header>
  <uni-chat-header title="{{'auth.title.signup' | translate}}"></uni-chat-header>
</ion-header>
<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>{{'auth.email' | translate}}</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="{{'auth.emailPlaceholder' | translate}}"
                 [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>{{'auth.error.invalidEmail' | translate}}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{'auth.password' | translate}}</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 placeholder="{{'auth.paddwordPlaceholder' | translate}}"
                 [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>{{'auth.error.invalidPassword' | translate}}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{'auth.action.createAccount' | translate}}
    </button>

  </form>
</ion-content>
